
@import url(https://fast.fonts.net/cssapi/ad13b72f-b080-4043-8fe5-74db5f439b01.css);

#timetable{
float:left;
position: absolute;
top:0;
left:990px;
width:350px;
}

#posters{
float:left;
position: absolute;
width:900px;
}

.site-header-wrapper {
position: absolute;
left:0;
top:0;
background-color: #fff;
z-index: 25;
min-height: 45px;
line-height: 45px;
margin: 0 0 0 0;
width: 100%;
color: #666;
height: 60px;
}

.site-footer-wrapper {
overflow: visible;
}

.site-footer-wrapper {
background: #f1f1f1;
box-shadow: 0 -2px 3px rgba(0,0,0,0.25);
height: 70px;
}

.tabscontent {

font-family: "HelveticaNeueW01-65Medi",Helvetica,Arial,sans-serif;
font-size: 12px;
line-height: 13px;
color: #fff;
text-transform: uppercase;
width:940px;
padding: 10px;
position: relative;
padding: 10px;
background: #0b7d85;
background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#0b7d85),color-stop(100%,#0d939d));
background: -moz-linear-gradient(top,#0b7d85,#0d939d);
background: -webkit-linear-gradient(top,#0b7d85,#0d939d);
background: linear-gradient(to bottom,#0b7d85,#0d939d);
border-radius: 12px;
box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.25),inset 0 -1px 1px 0 rgba(0,0,0,0.2);

color: #fff;
margin-bottom:-25px;
border-radius: 12px 12px 0px 0px;
position: relative;

}

p{font-size: 18px;
color: #0b7d85;}

#newsfeed { 
width:100%;
position:absolute; 
   top:585px;
    left:10px;
}

.tt_block .timetable-class header h1, .multipass .timetable-class header h1 {
font-family: "HelveticaNeueW01-65Medi",Helvetica,Arial,sans-serif;
font-size: 24px;
line-height: 26px;
color: #fff;
text-transform: uppercase;
margin: 0;
}

.tt_block .timetable-class header h2, .multipass .timetable-class header h2 {
font-family: "HelveticaNeueW01-65Medi",Helvetica,Arial,sans-serif;
font-size: 18px;
line-height: 22px;
color: #bed62f;
margin-top: 0;
}
#newsfeed > div { 
    position: absolute; 

}
#images{

color: #fff;
height:550px;
    position: absolute; 
    top:10px;
    left:10px;
    width:960px;
border: solid 1px #d3511b;
background-color: #e35d25;
border-radius: 12px 12px 12px 12px;
background-size: 100%;
background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#e66e3c),color-stop(100%,#bd4918));
background-image: -moz-linear-gradient(top,#e66e3c,#bd4918);
background-image: -webkit-linear-gradient(top,#e66e3c,#bd4918);
background-image: linear-gradient(to bottom,#e66e3c,#bd4918);
background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#f5851f),color-stop(100%,#ef5d0e));
background: -moz-linear-gradient(top,#f5851f,#ef5d0e);
background: -webkit-linear-gradient(top,#f5851f,#ef5d0e);
background: linear-gradient(to bottom,#f5851f,#ef5d0e);
}

.site-footer-wrapper {
position: fixed;
width: 100%;
bottom: 0;
left: 0;
z-index: 500;
}

h2 {
font-family: "VAG Rounded W01 Regular",sans-serif;
font-weight: 400;
color: #fff;
letter-spacing: -.025em;
text-transform: uppercase;
font-size: 40px;
line-height: 1em;
}

h2{
color: #bad536;
font-size: 28px;z
margin-bottom: 1em;
display: block;
}

h3 {
font-family: "HelveticaNeueW02-55Roma",Helvetica,Arial,sans-serif;
line-height: 1.35;
font-weight: 700;
font-size: 24px;
color: #0b7d85;
margin-bottom: .5em;
margin-top: .5em;
}
	
body {
    padding: 0px;
    background-color: #0B7D85;
    background-image: radial-gradient(ellipse closest-side at center center , rgba(89, 206, 198, 0.7) 33.3333%, #0B7D85 100%);
    background-size: 1200px 640px;
    background-position: center 240px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 300px;
}

body {
    font-family: "HelveticaNeueW02-55Roma",Helvetica,Arial,sans-serif;

    font-size: 15px;
    line-height: 20px;
}

.tt_block.ghosting, .ghosting.multipass {
opacity: .2;
}

#today{
font-family: "VAG Rounded W01 Regular";
font-size: 24px;
line-height: inherit;
font-weight: normal;
margin: 1em auto;
color: #bed62f;
text-transform: uppercase;
display: inline-block;
}

.tt_block .timetable-class, .multipass .timetable-class {
position: relative;
padding: 10px;

background: #0b7d85;
background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#0b7d85),color-stop(100%,#0d939d));
background: -moz-linear-gradient(top,#0b7d85,#0d939d);
background: -webkit-linear-gradient(top,#0b7d85,#0d939d);
background: linear-gradient(to bottom,#0b7d85,#0d939d);
border-radius: 12px;
box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.25),inset 0 -1px 1px 0 rgba(0,0,0,0.2);
min-height: 162px;
color: #fff;
}

.tt_block .timetable-class header, .multipass .timetable-class header {
padding: 0 10px 10px 0;
position: relative;
border-bottom: dotted 1px #fff;
margin-bottom: 6px;
height: 90px;
max-height: 140px;
overflow: hidden;
}
.content-panel {
background-color: #FFF;
width:919px;
font-size:20px;
padding: 20px;
border-radius: 12px;
margin-top:1px;
color: #333;
overflow: hidden;
}

.logo{
padding:7px;
float:left;
height:28px;
}

.puregymlogo {
padding:7px;
height:100px;
}

h4
{
margin:0;
float:right;
margin:1px;
margin-top:10px;
text-align:right;
display:inline;
font-family: "HelveticaNeueW02-55Roma",Helvetica,Arial,sans-serif;
font-size: 18px;
color: #fff;
padding: 2px;
}

#dateandtime {
position: absolute;
top:750px;
left:1150px;
	padding-right:10px;
	float:right;
	text-align: right;
}

#date {
	font-size:22px;
margin:0px;
}

#time {
	font-size:28px;
	margin:0px;
}

#gymixlogo{
height:50px;
width:500px;
position: absolute;
bottom:15px;
left:10px;
text-align:left;
float:left;
}

#nowplaying{
	font-size:24px;
	margin:0px;
}

#songname{
	font-size:22px;
margin:0px;
}

#logoandinfo{
position: relative;
}

#timetableblocks {
position: relative;
overflow:hidden;
padding:5px;
}


#advertisments {
width:98%;
position:relative;
padding:1%;
}

#nextup{
width:98%;
position:relative;
padding:1%;
}
