/* CSS Document */

#loading-container {
    padding:16px 0px 16px 0px;
    text-align:center;  
}
 
#twitter-feed {
    font-family: "HelveticaNeueW01-65Medi",Helvetica,Arial,sans-serif;
    overflow:auto;
    float:left;
position: absolute;
width:215px;
}



#twitter-feed p {
    font-family: "HelveticaNeueW02-55Roma",Helvetica,Arial,sans-serif;
    color:#FFF;
    
    font-weight: bold;
}
 
#twitter-feed h1 {
    margin:0px;
    padding-top:0px;
    padding:2px 0px 4px 0px;
    font-size:18px;
    font-family: "VAG Rounded W01 Regular",sans-serif;
  font-weight: 400;
  color: #48929a;
}

#twitter-feed span {
    font-family: Arial, Helvetica, sans-serif;
}
#twitter-header {
	position:relative;
	z-index:2;
}

.tweets-container {
	width:100%;
	overflow:hidden;
	position:relative;	
}
 
.twitter-article, #loading-container {
    width:100%;
    float:left; 
    padding:4px 0px 4px 0px;
	position:relative;
} 

.twitter-article {
	position:absolute;
	border-bottom:1px;
	top:0px;
}

.twitter-pic {
    position:absolute;
    z-index:100;
}
 
.twitter-pic img {
    float:left;
      border-radius: 100%;
      padding:5px;
      padding-top:10px;
     
}
 
/* -------- TEXT STYLING ------*/
.twitter-text {
    z-index:100;
    width:100%;
    float:left;
    font-size:11px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  padding: 10px;
  
  background: #48929a;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #48929a),color-stop(100%, #50a2ab));
  background: -moz-linear-gradient(top, #48929a,#50a2ab);
  background: -webkit-linear-gradient(top, #48929a,#50a2ab);
  background: linear-gradient(to bottom, #48929a,#50a2ab);
  box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.25),inset 0 -1px 1px 0 rgba(0,0,0,0.2);
  min-height: 100px;
  color: #fff;
  padding-left:32px;
  padding-right:10px;
    
}
.twitter-text p {
    margin:0px;
    line-height:15px;   
}
.twitter-text a,  h1 a {
color:#FFF;
    text-decoration: none;
}

.twitter-text h1  {
text-transform: uppercase;
}

.twitter-text a:hover,  h1 a:hover {
    text-decoration: underline;
color:#FFF;
}
 
.tweet-time {
    font-size:10px;
color:#FFF;
    float:right;
}
.tweet-time a, .tweet-time a:hover {
color:#FFF;
}
 
.tweetprofilelink a {
color:#FFF;
}
.tweetprofilelink a:hover {
color:#FFF;
}
 
/* -------- FEED  ACTIONS ------*/
#twitter-actions {
    width:75px;
    float:right;
    margin-right:5px;   
    margin-top:3px;
        display:none;
}
.intent {
    width:25px;
    height:16px;
    float:left; 
}
.intent a{
    width:25px;
    height:16px;
    display:block;
    background-image:url(../images/tweet-actions.png);
    float:left; 
} 
.intent a:hover{
    background-position:-25px 0px;
} 
 
#intent-retweet a{
    background-position:0px -17px;
} 
#intent-retweet a:hover{
    background-position:-25px -17px;
} 
#intent-fave a{
    background-position:0px -36px;
} 
#intent-fave a:hover{
    background-position:-25px -36px;
} 
 
/* -------- RETWEET INDICATOR ------*/
#retweet-indicator {
    width:14px;
    height:10px;
    background-image:url(../images/tweet-actions.png);
    background-position:-5px -54px;
    margin-top:3px;
    float:left;
}

.backlink {
	font-size:11px;
	text-align:center;
}

.backlink a {
	color:#aaa;
}
