@font-face {
    font-family: 'VAG Rounded W01 Regular'; /*a name to be used later*/
    src: url('Ty14Bd__.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Typ1451-Bold'
    src: url('Ty14Bd__.ttf'); /*URL to font*/
}

#timetable{
float: left;
  position: absolute;
  top: 95px;
  left: 812px;
  width: 210px;
  height: 560px;
  overflow: hidden;
  z-index: -600;
}

#fullscreenad {
  position:absolute;

z-index:1000;
float:left;
top:0px;
left:0px;
width:1025px;
height:769px;
}

#first{
background-color:#000;
height:100%;
width:100%;
}

#second{
background-color:#000;
height:100%;
width:100%;
}

#posters{
float:left;
position: absolute;
width:477px;
}

.site-header-wrapper {
position: absolute;
left:0px;
top:725px;
background-color: #fff;
z-index: 25;
min-height: 32px;
line-height: 32px;
margin: 0 0 0 0;
width: 100%;
color: #666;
height: 43px;
}

.site-footer-wrapper {
overflow: visible;
}

.site-footer-wrapper {
background: #000;
box-shadow: 0 -2px 3px rgba(0,0,0,0.25);
height: 50px;
}

#newsfeed { 
width:100%;
position:absolute;  
    left:0px;
    width:805px;
  top:655px;
  height:85px;
}

marquee {
    position:absolute;  
    left:75px;
    text-indent:-575px;
    width:720px;
    font-size:14px;
}

#news {
position:relative;
top:485px;
left:200px;
}

.logo{
padding:5px;
float:right;
height:45px;
}

.plogo{
  padding: 5px;
  float: left;
  height: 80px;

}

#albumArt{
display:none;
}

.tabscontent {
    width:795px;
 background: #000;
  height: 90px;
top:0px;
  left: 2px;
line-height: 19px;
font-family: "HelveticaNeueW01-65Medi",Helvetica,Arial,sans-serif;
font-size: 9px;
text-transform: uppercase;
position: relative;
padding: 5px;

color: #fff;
}

.secondHeadding {

margin:5px;
line-height: 20px;
}

.artwork{
position: absolute;
  height: 590px;
  left: 100px;
}

h1
{
font-family: "VAG Rounded W01 Regular",sans-serif;
font-weight: 400;
  color: #48929a;
  text-transform: uppercase;
  font-size: 24px;
}

p{font-size: 13px;
color: #0b7d85;}

h3 {
font-weight: 400;
font-family: "VAG Rounded W01 Regular",sans-serif;
  font-size: 21px;
color: #fff;

margin:5px;
line-height: 26px;
}

.tt_block .timetable-class header h1, .multipass .timetable-class header h1 {
font-weight: 600;
font-family: "HelveticaNeueW01-65Medi",Helvetica,Arial,sans-serif;
font-size: 17px;
line-height: 18px;
color: #fff;
text-transform: uppercase;
margin: 0;
}

.tt_block .timetable-class header h2, .multipass .timetable-class header h2 {
font-family: "HelveticaNeueW01-65Medi",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 16px;
color: #fff;
margin-top: 0;
}

#newsfeed > div { 
    position: absolute; 

}

#images{
color: #fff;
height:630px;
    position: absolute; 
    top:12px;
    left:12px;
    width:790px;
background: linear-gradient(to bottom, #48929a,#50a2ab);
  box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.25),inset 0 -1px 1px 0 rgba(0,0,0,0.2);
background-size: 100%;

  border-bottom: 1px solid #000;
}

.site-footer-wrapper {
position: fixed;
width: 100%;
bottom: 0;
left: 0;
z-index: 500;
}

#twitter{
position: absolute; 
    top:99px;
    left:5px;
}

h1 {
margin:5px;
}
h2 {
font-family: "VAG Rounded W01 Regular",sans-serif;
font-weight: 400;
color: #48929a;
text-transform: uppercase;
font-size: 28px;
line-height: 1em;
}

h2{
color: #48929a;
font-size: 21px;
margin-bottom: 1em;
display: block;
}


	
body {
    padding: 0px;
    background: #000;
    min-width: 300px;
}

body {
    font-family: "HelveticaNeueW02-55Roma",Helvetica,Arial,sans-serif;
    margin:0px;
    font-size: 11px;
    line-height: 14px;
}

.tt_block.ghosting, .ghosting.multipass {
opacity: .2;
}

#today{
font-family: "VAG Rounded W01 Regular";
font-size: 17px;
line-height: inherit;
font-weight: normal;
margin: 1em auto;
color: #bed62f;
text-transform: uppercase;
display: inline-block;
}

.tt_block .timetable-class, .multipass .timetable-class {
  position: relative;
  padding: 10px;
  background: #48929a;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #48929a),color-stop(100%, #50a2ab));
  background: -moz-linear-gradient(top, #48929a,#50a2ab);
  background: -webkit-linear-gradient(top, #48929a,#50a2ab);
  background: linear-gradient(to bottom, #48929a,#50a2ab);
  box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.25),inset 0 -1px 1px 0 rgba(0,0,0,0.2);
  min-height: 100px;
  color: #fff;
}

.tt_block .timetable-class header, .multipass .timetable-class header {
padding: 0 9px 9px 0;
position: relative;
border-bottom: dotted 1px #fff;
margin-bottom: 5px;
height: 40px;
max-height: 100px;
overflow: hidden;
}


#songname{
}

.puregymlogo {
position: absolute;
top: 14px;
  left: 807px;
  padding-left: 8px;
  width: 150px;
}

h4
{
margin:0;
float:right;
margin:1px;
margin-top:7px;
text-align:right;
display:inline;
font-family: "HelveticaNeueW02-55Roma",Helvetica,Arial,sans-serif;
font-size: 13px;
color: #fff;
padding: 2px;
}

#dateandtime {
z-index: 500;
position: absolute;
top:10px;
left: 810px;
  width: 209px;
	padding-right:5px;
	float:right;
	text-align: right;
}

#date {
	font-size:24px;
margin:0px;
}

#time {
	font-size:57px;
	margin:0px;
}

#gymixlogo{
z-index: 999 !important;;
 background: #000;
    left:0px;
    width:800px;
  top:655px;
  height:90px;
line-height: 19px;
font-family: "HelveticaNeueW01-65Medi",Helvetica,Arial,sans-serif;
font-size: 9px;
text-transform: uppercase;
position: relative;
padding: 5px;
background: #000;
color: #000;
}

#nowplaying{
padding-left:7px;
}




#timetableblocks {
position: relative;
overflow:hidden;
padding:4px 0px 4px 0px;
}


#advertisments {
width:98%;
position:relative;
padding:1%;
padding-top:20px;
padding-bottom:20px;
}

#nextup{
position:relative;
}

#site-footer-wrapper {
  background: #000;
  height: 115px;
}
#site-footer-wrapper {
  position: absolute;
  width: 1024px;
  top:653px;
  left: 0;
  z-index: -500;
}

.image {

    margin:auto;
    text-align:center;
}
.reflect {

    margin:auto;
    -webkit-box-reflect: right -4px -webkit-gradient(linear, left top, right top, from(transparent), color-stop(80%, transparent), to(rgba(255, 255, 255, 0.2)))
}
.image img {

    -webkit-box-reflect: left -1px -webkit-gradient(linear, right top, left top, from(transparent), color-stop(80%, transparent), to(rgba(255, 255, 255, 0.2)));
}
